*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: flex;
  padding: 133px 30px;
  align-items: end;
  justify-content: center;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
}

.content__list {
  margin-top: 26px;
  max-height: 298px;
  overflow-y: scroll;
}